{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
    {% block title %} Home Page {% endblock title %}
<link href="{% static 'css/carousel.css' %}" rel="stylesheet">
{% block content %}
    <div class="section-top">
        <img src="{% static 'img/slider.jpg' %}" class='img-responsive' width="100%">
    </div>
    <div class='section'>
        <div class='container'>
            <h1 class='text-center'>Новые товары</h1>
            <div class="row">
            {% for product_image in products_images %}
                <div class="col-lg-3">
                    <div class='product-item'>
                        <div>
                            <img src='{{ product_image.image.url }}' class="image-responsive" width='100px' height='150px'>
                        </div>
                        <h6>{{ product_image.product.name|truncatechars_html:25 }}</h6>
                        <p>
                            {{ product_image.product.author|truncatechars_html:20 }}
                        </p>
                        <p>
                            {{ product_image.product.price }} руб.
                        </p>
                        <div class="add-to-cart-btn">
                            <button class='btn btn-success'>
                                В корзину
                            </button>
                        </div>    
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="section-top">
        <img src="{% static 'img/delivery.jpg' %}" class='img-responsive' width="100%">
        </div>
    </div>
    </div>
   
{% endblock content %}