{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
    {% block title %} Online shop {% endblock title %}
{% block body %}
<br>
<br>
<div class="container">
    <h1>Наш машазин в процессе разработки!</h1>
    <h2>Если вы желаете стать нашим покупателем и получить скидку, оставте имейл и имя. Мы с вами свяжемся.</h2>
    <div>
        <form action='' method='post'>
            {% csrf_token %}
            {{ form|crispy }}
            <div>
                <button type='submit'>Отправить</button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}
