 
<ul class="navbar-nav mr-auto"> 
<li class="nav-item active">
    <a class="nav-link" href="/home/">На главную <span class="sr-only">(current)</span></a> 
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'products:list' %}">Книги<span class="sr-only">(current)</span></a> 
</li>
{% if user.is_superuser %}
<li class="nav-item">
    <a class="nav-link" href="/admin/">Админка</a> 
</li> 
{% else %}
{% endif %}
<li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ user }}</a> 
</li> 
</ul>
<ul class="navbar-right nav navbar-nav mr-auto">
    <li>
        <div class="basket-container">
            <a class='naw-link' href="{% url 'cart:cart' %}">Корзина</a>
            <div class="basket-items hidden">
                <ul class="">
                </ul>
            </div>
        </div>
    </li>
</ul>