{% extends "base.html" %}
{% load static %}
    {% block title %} Products types list {% endblock title %}
{% block body %}
    
    <div class="container">
    <br>
    <h1>Типы книг</h1>
        {% include "paginator.html" %}
        <table class="table bordered-table">
        <tr>
            <th>pk</th>
            <th>name</th> 
            <th>author</th>
            <th>price</th>
            <th>genre</th> 
            <th>description</th>
            <th>-</th>
        </tr>
        {% for row in object_list %}
        <tr>
            <td>{{row.pk}}</td>
            <td><a href="{% url 'products:detail' row.pk %}">{{row.name}}</a></td>
            <td>{{row.author}}</td>
            <td>{{row.price}}</td>
            <td>{{row.genre}}</td>
            <td>{{row.description}}</td>
            <td> 
                <a href="{% url 'products:create' %}">Create</a>
                <a href="{% url 'products:update' row.pk %}">Update</a>
                <a href="{% url 'products:delete' row.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>

{% endblock body %}
