{% extends "base_login.html" %}
{% load crispy_forms_tags %}

{% block body %}
<br>
<br>
<div class="container">
{% comment "" %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% endcomment %}

<h1>Change Password</h1>

<form method="post">
{% csrf_token %}
{{ form|crispy }}

<input type="submit" value="login" class='btn btn-success'>
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
{% comment "" %}

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endcomment %}
</div>
{% endblock %}